<script>
  import { getId, getBooleanFrom, setTooltip } from './utils/utils.js'
  import Row from './Row.svelte'
  import { createEventDispatcher, onMount } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js'
  
  export let clazz ='', disabled=false, fading=true, i18n, icon, id, indented=false, inline=false, label, maximize=false, node, primary=false, selected=false, 
             small=false, style='', tooltip=''


  small = getBooleanFrom(small)
  disabled = getBooleanFrom(disabled)
  maximize = getBooleanFrom(maximize)
  inline = getBooleanFrom(inline)
  indented = getBooleanFrom(indented)
  id = id || getId()
  
  if (label) label = i18nTranslate(RED, node, i18n, label)

  const dispatch = createEventDispatcher()

  function clickHandler (event) {
    dispatch('click', event.details, { cancelable: true })
  }

  // delay creation of tooltips as this needs jQuery and can be called often
  let init = true
  let tooltipExists = false
  onMount(() => {
    setTimeout(() => init = false, 1000)
  })

  $: {
    if (!init && (tooltip || tooltipExists)) tooltipExists = setTooltip(tooltip, tooltipExists, '#' + id)
  }
  $: { 
    if (label) label = i18nTranslate(RED, node, i18n, label) 
  }


</script>

<style>
  .sir-Button { width: fit-content; }
  .minWidth { min-width: 33px; } /* font-awesome icons can be different in width -> leads to minimal different button size */  
  .red-ui-button-small { min-width: 21px; }
  :global(button.red-ui-button.sir-Button:not(.primary):not(.disabled):not(:disabled):hover) {
    background: var(--red-ui-secondary-background-hover);
  }
  .maximize { width: 100%; }
</style>

<Row id="sir-Button-Container-{id}" clazz="{clazz} sir-Button-Container" {inline} {fading}>
  {#if indented}
    <!-- svelte-ignore a11y-label-has-associated-control -->
    <label style="pointer: cursor: initial;"></label>
  {/if}
  <button {id} {style} {disabled} type="button" on:click|stopPropagation={clickHandler} on:mousedown|stopPropagation on:mouseup|stopPropagation on:mouseenter|stopPropagation on:mouseleave|stopPropagation
    class='red-ui-button sir-Button' class:maximize class:selected class:red-ui-button-small={small} class:primary={primary && !disabled} >
    {#if icon}
      <i class="fa fa-{icon}"></i> 
    {/if}
    {label || ''}
  </button>
</Row>
