<script>
  import Row from './Row.svelte'
  import ComponentHeader from './ComponentHeader.svelte'
  import { getBooleanFrom, getId } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js' 
  import { onMount } from 'svelte'
  import { tweened } from 'svelte/motion'
  import { cubicOut } from 'svelte/easing'
  export let border=false, clazz='', collapsed=false, fading=true, i18n, icon, id, indented=true, inline=false, label, node, openOnlyOnIcon=false, style="", tooltip
  
  id = id || getId()
  indented = getBooleanFrom(indented)
  border = getBooleanFrom(border)
  inline = getBooleanFrom(inline)
  collapsed = getBooleanFrom(collapsed)
  // intern variable if used without bind
  let _collapsed = collapsed

  if (label) {
    label = i18nTranslate(RED, node, i18n, label)
  }

  // collapsible icon styling
  const rotation = tweened(_collapsed ? 0 : 90, {
    duration: 400,
    easing: cubicOut
	})
  $: iconStyle = 'transform:rotate(' + $rotation + 'deg);'

  let slotDiv
  let maxSlotHeight = 0
  const slotHeight = tweened(0, {
      duration: 400,
      easing: cubicOut
  })
  
  function handleResize (initial=false) {
    let computedSlotHeight = slotDiv.offsetHeight
    if (_collapsed && maxSlotHeight !== computedSlotHeight) {
      // Prevent flickering when the content was changed after DOM created
      slotHeight.set(computedSlotHeight, { duration: 0 })
    }
    if (computedSlotHeight && computedSlotHeight !== 'auto') {
      maxSlotHeight = computedSlotHeight
    }
    if (initial) {
      // We do not want animation on first render
      slotHeight.set(_collapsed ? 0 : maxSlotHeight, { duration : 0 })
    } else {
      slotHeight.set(_collapsed ? 0 : maxSlotHeight)
    }
  }

  function openSlot (path) {
    // openOnlyOnIcon is a very special case for tree nodes where we only want to open it with the '>' icon
    // as the click event self is still needed for marking on select and e.g. pekfinger show description, we can't deactivate it completly.
    // this is bit dirty, but to change it on componentHeader will bloat the code for a perhabs single use case. Therefore this won't be shown in the Readme.
    if (openOnlyOnIcon && !path[0].classList.contains('fa-angle-right')) {
      return
    }
    if (_collapsed) {
      rotation.set(90)
    } else {
      rotation.set(0)
    }
    collapsed = !collapsed
    _collapsed = !_collapsed
    handleResize()
  }
  
  onMount(() => {
    handleResize(true)
  })


  $: classes = clazz + " sir-Collapsible" + (_collapsed ? "" : " open")
  $: slotHeightStyle = 'height: ' + (!_collapsed && $slotHeight === maxSlotHeight ? '100%;' : $slotHeight + 'px;')
</script>

<style>
  .border { padding: 12px; }  
  .content { 
    width: 100%;
    overflow: hidden;
  }
  :global([id^='sir-Collapsible-'].sir-Row.sir-Collapsible, [id^='sir-Collapsible-'].sir-Collapsible) {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  :global(.sir-Collapsible .content .slotDiv .sir-Row:last-child) { margin-bottom: 0px;}

  :global([id^='sir-Collapsible-'].sir-Collapsible .slotDiv) {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    padding-top: 6px;
  }
  :global([id^='sir-Collapsible-'].sir-Collapsible .slotDiv.indented) {
    padding-left: 12px;
    width: calc(100% - 12px)
  }
</style>

<Row id="sir-Collapsible-{id}" bind:clazz={classes} {inline} {fading} {style} >
  {#if label || $$slots.header}
    <ComponentHeader {label} labelFor="sir-Collapsible-{id}-content" id="sir-Collapsible-{id}" {icon} isCollapsible {openOnlyOnIcon} {tooltip} bind:iconStyle
    on:click={(event) => openSlot(event.composedPath())} on:mouseenter on:mouseleave on:click>
      <slot name="header" slot="headerExtension" />
    </ComponentHeader>
  {/if}
  <div class:red-ui-editableList-border={border} id="sir-Collapsible-{id}-content" class="content" class:border style="{slotHeightStyle}" >
    <div bind:this={slotDiv} class="slotDiv" class:indented class:_collapsed>
      <slot {_collapsed} />
    </div>
  </div>
</Row>
