<script>
  import { setTooltip } from './utils/utils.js'
  import { onMount } from 'svelte'

  export let clazz="", icon="", iconStyle="", id, label="", labelFor="", style="", isCollapsible = false, openOnlyOnIcon=false, tooltip

  if (isCollapsible) style += " margin-bottom: 0px;"

  if (id && !id.endsWith('-Label')) id += '-Label'

  // delay creation of tooltips as this needs jQuery and can be called often
  let init = true
  let tooltipExists = false

  onMount(() => {
    setTimeout(() => init = false, 1000)
  })

  $: {
    if (!init && (tooltip || tooltipExists)) tooltipExists = setTooltip(tooltip, tooltipExists, '#' + id)
  }
</script>

<style>
  .header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 6px;
  }
  .header > .icon {
    margin-right: 3px;
  }
  .header .headerContent {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header label { 
    width: auto;
    cursor: initial;
    min-width: 105px;
    margin-bottom: 0px;
    padding-left: 5px;
  }
  .mousePointer, .mousePointer label { 
    cursor: pointer; 
  }
  label i { padding-right: 5px; }
  .header label { 
    width: inherit;
    display: flex;
    align-items: center;
  }
  .labelContainer, .content {
    /* disable click text selection */
    user-select: none; /* Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }

</style>

<div class="header {clazz}" class:mousePointer={isCollapsible && !openOnlyOnIcon} {style} on:mouseenter on:mouseleave on:click on:keypress>
  {#if isCollapsible}
    <i class="fa fa-angle-right mousePointer icon" style={iconStyle}></i>
  {/if}
  <div class="headerContent"> 
    {#if label}
      <label {id} for={labelFor}>
        {#if icon}<i class="fa fa-{icon}"/>{/if}{label}
      </label>
    {/if}
    <slot name="headerExtension"/>
  </div>
</div>