<script>
  import { getId, getBooleanFrom } from './utils/utils.js'
  import Button from './Button.svelte'
  import { createEventDispatcher, onMount } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js' 
  
  export let node, prop, icon, label, id, disabled=false, maximize=true, i18n

  id = id || getId(prop)
  let error = ''
  disabled = getBooleanFrom(disabled)
  maximize = getBooleanFrom(maximize)

  if (!node) {
    node = {}
    error = "No node property given."
  } else if (!prop) {
    error = "No property name given."
  }
  
  const dispatch = createEventDispatcher()
  
  let defaults = node._def.defaults
  icon = icon || defaults?.[prop]?.icon || ''
  label = label || defaults[prop] && defaults[prop].label || prop
  if (label) label = i18nTranslate(RED, node, i18n, label)
  let configNodes = []
  let previouslySelectedNode = node[prop] || '_ADD_'
  let selectedNode = node[prop] || '_ADD_'

  function updateConfigNodes() {
    configNodes = []
    const type = defaults[prop].type
    const node_def = RED.nodes.getType(type);
    RED.nodes.eachConfig(function(config) {
      if (config.type === type) {
        let label = ''
        if (typeof node_def.label === 'function') {
            label = node_def.label.call(config)
        } else {
            label = node_def.label
        }
        configNodes.push({ id: config.id, label })
      }
    })
    configNodes = [...configNodes, { id: '_ADD_', label: `Add new ${type}...` }]
  }

  onMount(() => {
    updateConfigNodes()
    RED.events.on('nodes:add', (e) => {
      if (e.type === defaults[prop].type) {
        updateConfigNodes()
        selectedNode = e.id
      }
    })
    RED.events.on('nodes:change', (e) => {
      if (e.type === defaults[prop].type) {
        updateConfigNodes()
      }
    })
    RED.events.on('nodes:remove', (e) => {
      if (e.type === defaults[prop].type) {
        updateConfigNodes()
        // Always select '_ADD_' after deleting (standard behaviour)
        // otherwise it breaks the node if only one other option was available
        selectedNode = '_ADD_'
      }
    })
  })

  $: {
    if (selectedNode !== previouslySelectedNode) {
      node[prop] = selectedNode
      dispatch('change', 
        {
          before: previouslySelectedNode,
          after: selectedNode
        },
        { cancelable: false }
      )
      previouslySelectedNode = selectedNode
    }
  }

  function editConfigNode() {
    // The prefix is omitted so the select gets updated by us and not by Node-RED
    const result = RED.editor.editConfig(prop, defaults[prop].type, selectedNode /*, 'node-input' */)
  }
</script>

<style>
  .disabled { pointer-events: none; }
  .maximize { width: 100%; }
</style>

{#if node && prop}
  <label for="node-input-{prop}">{#if icon}<i class="fa fa-{icon}"></i>{/if} {label}</label>
  <select id="node-input-{prop}" placeholder="{defaults[prop].label}" {disabled} bind:value={selectedNode} on:mouseenter on:mouseleave on:click
    class:input-error={selectedNode === '_ADD_'} class:maximize
  >
      {#each configNodes as { id, label } (id)}
          <option value="{id}">{label}</option>
      {/each}
  </select>
  <Button id="node-input-lookup-{prop}" inline {disabled} icon="pencil" on:click={editConfigNode} ></Button>
{:else}
    <span class="maximize">Error: {error}</span>
{/if}
