<script>
  import Row from './Row.svelte'
  import Button from './Button.svelte'
  import ComponentHeader from './ComponentHeader.svelte'
  import { getBooleanFrom, getId, getFadeDuration } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js' 
  import { createEventDispatcher, onMount } from 'svelte'
  import {flip} from 'svelte/animate';
  export let addButton=false, clazz="", disabled=false, elements, fading=true, height='auto', i18n, icon, id, indented=false, inline=false, label='', maxHeight=300, maximize=false, minHeight=100, node, removable=false, sortable=false, style='', tooltip

  id = id || getId()
  const _addButton = getBooleanFrom(!!addButton)
  sortable = getBooleanFrom(sortable)
  removable = getBooleanFrom(removable)
  disabled = getBooleanFrom(disabled)
  maximize = getBooleanFrom(maximize)
  inline = getBooleanFrom(inline)
  indented = getBooleanFrom(indented)
  
  const addButtonLabel = typeof addButton === 'string' ? addButton : RED._("editableList.add")
  if (style && !style.endsWith(";")) {
    style = style + ";"
  }
  if (label) {
    label = i18nTranslate(RED, node, i18n, label)
  }
  const nodeInputId = "node-input-" + id + "-container"
  const fadeDuration = getFadeDuration(fading)
  // note: if height is set, min and max height have no effect
  if (!isNaN(height)) height += "px"
  if (!isNaN(minHeight)) minHeight += "px"
  if (!isNaN(maxHeight)) maxHeight += "px"
  const dispatch = createEventDispatcher()

  // sorting mechanism
  let hovering = false
  let draggingIndex = null
  let isDraggable = false
  let dropzone

  const drop = (e, target) => {
    if (dropzone) {
      e.dataTransfer.dropEffect = 'move'
      const start = parseInt(e.dataTransfer.getData("text/plain"))
      const newTracklist = [...elements]
      if (start < target) {
        newTracklist.splice(target + 1, 0, newTracklist[start])
        newTracklist.splice(start, 1)
      } else {
        newTracklist.splice(target, 0, newTracklist[start])
        newTracklist.splice(start + 1, 1)
      }
      elements = newTracklist
      hovering = null
      draggingIndex = null
      dispatch('sort', { value: elements }, { cancelable: false })
    }
  }
  const dragstart = (e, i) => {
    dropzone = e.target.closest('ol').id
    draggingIndex = i
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.dropEffect = 'move';
    const start = i;
    e.dataTransfer.setData('text/plain', start)
  }
  const dragenter = (e, i) => {
    if (dropzone) {
      hovering = i
    }
  }
  
  const dragend = () => {
    dropzone = false
    hovering = null
    draggingIndex = null
  }

  // add / remove content
  const addHandler = () => dispatch('add', { index: elements.length })
  const removeHandler = (index) => {
    const removed = elements[index]
    elements = [...elements.slice(0, index), ...elements.slice(index + 1)]
    dispatch('remove', { value: removed, index }, { cancelable: false })
  }
</script>

<style>
  li {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }
  li .red-ui-editableList-item-content {
    width: 100%;
    margin: 0px 8px;
  }
  li .red-ui-editableList-item-remove {
    position: initial;
    margin: 0px 3px 0px 0px;
  }
  li .red-ui-editableList-item-handle {
    position: initial;
    margin: 0px 0px 0px 3px;
  }
  .disabled { pointer-events: none; }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList) {
    align-items: flex-start;
    flex-direction: column;
  }
  .indented { padding-left: 12px;}
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList div:last-child) { margin-bottom: 0px; }
  :global(.sir-EditableList .red-ui-editableList-item-remove .sir-Row, .sir-EditableList .header .sir-Row) {
    margin-bottom: 0px;
  }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList .red-ui-editableList-container) {
    min-height: 100px;
    overflow-y: auto !important;
    overflow-x: hidden;
    padding-top: 0px;
  }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList .red-ui-editableList) { width: 100%; }
  :global([id^='sir-EditableList-'].sir-Row.sir-EditableList .red-ui-editableList-item-remove button) { min-width: auto; }

  .halfTransparent { opacity: .5; }
  .dropzoneCurrent {
    border-top: 2px solid #ccc;
    border-bottom: 3px solid #ccc;
  }
  .dropzoneUnder { border-top: 3px solid #ccc; }
  .dropzoneAbove { border-bottom: 3px solid #ccc; }
  :global(.sir-EditableListHeader.editableListRemoveable .sir-Row) {
    position: relative;
    width: calc(100% - 35px);
  }
  :global(.sir-EditableListHeader.editableListSortable .sir-Row) {
    position: relative;
    left: 20px;
  }
</style>

<Row id="sir-EditableList-{id}" clazz="{clazz} sir-EditableList" {inline} {maximize} fading={fadeDuration} {style}>
  {#if label || $$slots.header}
    <ComponentHeader {label} id="sir-EditableList-{id}" labelFor="sir-EditableList-{id}-content" {icon} {tooltip}>
      <slot name="header" slot="headerExtension" />
    </ComponentHeader>
  {/if}
  <div class="red-ui-editableList">
    <!-- Drag and drop events must be handled different if list is empty or has values  -->
    <div id="sir-EditableList-{id}-content" class="red-ui-editableList-border red-ui-editableList-container" class:indented style={`${style} min-height: ${minHeight}; height: ${height}; max-height: ${maxHeight}`}
      on:drag|stopPropagation
      on:drop|preventDefault|stopPropagation
      on:dragover|preventDefault|stopPropagation
      on:dragenter|preventDefault|stopPropagation
      on:dragleave|stopPropagation
      on:dragend|stopPropagation
    >
      {#if $$slots.tableHeader}
        <div class="red-ui-editableList-header sir-EditableListHeader" class:editableListRemoveable={removable} class:editableListSortable={sortable} >
          <slot name="tableHeader" />
        </div>
      {/if}
      <ol id="{nodeInputId}" class="red-ui-editableList-list sir-EditableList-list" class:ui-sortable={sortable} {style} >
        {#each elements as element, index (typeof element === 'object' ? element.id || element : index)}
          <li id={index} draggable={isDraggable} animate:flip={{duration: 200}}
            class:red-ui-editableList-item-sortable={sortable} 
            class:red-ui-editableList-item-removable={removable}
            class:dropzoneUnder={hovering === index && hovering < draggingIndex}  
            class:dropzoneAbove={hovering === index && hovering > draggingIndex} 
            class:dropzoneCurrent={hovering === index && index === draggingIndex}
            class:halfTransparent={hovering !== index && index === draggingIndex}
            on:dragstart|stopPropagation={e => dragstart(e, index)} 
            on:drag|stopPropagation
            on:drop|preventDefault|stopPropagation={e => drop(e, index)} on:drop
            on:dragover|preventDefault|stopPropagation 
            on:dragenter|preventDefault|stopPropagation={e => { dragenter(e, index) }} on:dragenter|preventDefault|stopPropagation
            on:dragleave|stopPropagation
            on:dragend|stopPropagation={dragend}
          >
            {#if sortable}
              <i class="red-ui-editableList-item-handle fa fa-bars" class:disabled={disabled} 
                on:mouseover={() => isDraggable = true} on:focus={() => isDraggable = true}
                on:mouseout={() => isDraggable = false} on:blur={() => isDraggable = false}
              />
            {/if}
            <div class="red-ui-editableList-item-content">
              <slot {element} {index}/>
            </div>        
            {#if removable}
              <div class="red-ui-editableList-item-remove">
                <Button small icon="remove" {disabled} on:click={() => removeHandler(index)}/>
              </div>
            {/if}
          </li>
        {/each}
      </ol>
    </div>
    {#if _addButton}
      <!-- svelte-ignore missing-declaration -->
      <Button style="margin-top: 6px;" on:click={addHandler} icon="plus" {disabled} label={addButtonLabel} small/>
    {/if}
  </div>
</Row>