<script>
  import { getId, getBooleanFrom } from './utils/utils.js'
  import { i18nTranslate } from './utils/i18n.js' 
  import Row from './Row.svelte'
  import ComponentHeader from './ComponentHeader.svelte'

  export let clazz='', fading=true, i18n, icon, inline=false, label, maximize=false, node, style='', tooltip
  export let id = getId()

  maximize = getBooleanFrom(maximize)
  inline = getBooleanFrom(inline)
  if (label) {
    label = i18nTranslate(RED, node, i18n, label)
  }    
</script>

<style>
  .sir-Group-container { 
    padding: 12px 12px 0px 12px; 
  }
  :global([id^='sir-Group-'].sir-Row.sir-Group, [id^='sir-Group-'].sir-Group) {
    flex-direction: column;
    align-items: stretch;
  }
  .maximize { width: 100%; }
</style>

<Row id="sir-Group-{id}" clazz="{clazz} sir-Group" {inline} {fading}>
  {#if label || $$slots.header}
    <ComponentHeader id="sir-Group-{id}" {label} labelFor="sir-EditableList-{id}-content" {icon} {tooltip}>
      <slot name="header" slot="headerExtension" />
    </ComponentHeader>
  {/if}
  <div id="sir-Group-{id}-container" class="red-ui-editableList-border sir-Group-container" class:maximize style={style}>
    <slot/>
  </div>
</Row>
