<script>
  import Row from './Row.svelte'
  import PlainInput from './PlainInput.svelte'
  import ConfigNodeInput from './ConfigNodeInput.svelte'
  import { getBooleanFrom, getId } from './utils/utils.js'

  export let checked, clazz='', credentials, disabled=false, error, fading=true, i18n, icon, id, indented=false, inline=false, label, labelBeforeCheckbox=false, 
             maximize=true, node, placeholder, prop, style='', tooltip='', type, value

  id = id || getId(prop)
  inline = getBooleanFrom(inline)
  maximize = getBooleanFrom(maximize)
  disabled = getBooleanFrom(disabled)
  indented = getBooleanFrom(indented)
  labelBeforeCheckbox = getBooleanFrom(labelBeforeCheckbox)
  if (typeof error !== 'undefined') {
    error = getBooleanFrom(error)
  }
  // loading node: if only node is bound for any input field in the svelte code, value would be undefined if the input field is empty or false
  if (type !== 'checkbox' && typeof value === 'undefined' && typeof node?.[prop] !== 'undefined') {
    value = node[prop]
  } else if (type === 'checkbox' && typeof value === 'undefined') {
    // special case for checkbox: bind:checked (offical property) could also be used and has prio before getting it possibly from node[prop]
    if (typeof checked !== 'undefined') {
      value = getBooleanFrom(checked)
    } else if (typeof node?.[prop] !== 'undefined') {
      value = getBooleanFrom(node[prop])
    } 
  }

  // if checkbox has checked bound it must be updated with the value property (needed)
  $: if (type === 'checkbox' && typeof checked !== 'undefined' && typeof value !== 'undefined') {
    checked = getBooleanFrom(value)
  }
</script>

<style>
  :global(.sir-Input-Container) {
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  /* put this css in input as normally every node has at least one input.*/
  /* This is also only necessary to point out links in popover -> which are already !important by Node-RED */
  :global(.red-ui-popover.sir-NR-popover a) {
    color: var(--red-ui-text-color-link) !important;
  }
  :global(.red-ui-popover.sir-NR-popover a:hover) {
    color: var(--red-ui-text-color-link) !important;
    text-decoration: underline;
  }

</style>

<Row id="sir-Input-Container-{id}" clazz="{clazz} sir-Input-Container" {inline} {maximize} {fading} {style}>
  {#if type === 'config'}
    <ConfigNodeInput bind:node bind:prop {icon} bind:label {i18n} bind:disabled {indented} bind:tooltip on:change on:mouseenter on:mouseleave on:click/>
  {:else}
    <PlainInput bind:node bind:prop bind:icon bind:label {i18n} bind:disabled {indented} bind:value bind:type {credentials} {labelBeforeCheckbox} bind:placeholder {id} 
      bind:maximize bind:error bind:tooltip
      on:change on:mouseenter on:mouseleave on:click on:keypress on:input
    />
  {/if}
</Row>
