<script>
	
  import { getId } from './utils/utils.js'
  import { tick } from 'svelte';
  import { fade } from 'svelte/transition'

	export let clazz = '', expandable=false, id, style = "", title="", maxHeight

  id = id || getId()
  
	let hover = false
  let hide = true
  // maxHeight must be always known before creation to check if we need overflow-x
	let _maxHeight = maxHeight || window.innerHeight
  let maxHeightStyle = "max-height: " + (isNaN(_maxHeight) ? _maxHeight : _maxHeight + "px") + "; "
  let childEntriesStyle = maxHeightStyle

	const sirMenuParentMouseEnter = async (e) => {
    childEntriesStyle= maxHeightStyle
    hide = false
    hover = true
    await tick()
    // Note: If zoomed, the coordinates are not correct anymore. Multiply with window.devicePixelRation to get the correct value
    const parent = document.getElementById('sirMenuParent_' + id)
    const parentDOMRect = parent.getBoundingClientRect()
    const childDOMRect = parent.getElementsByClassName('entries')[0].getBoundingClientRect()
    if (parent.getElementsByClassName("entries")[0].scrollHeight > _maxHeight) {
      childEntriesStyle += "overflow-x: auto; "
    }
    if (childDOMRect.right > window.innerWidth) {
			childEntriesStyle += "margin-left: -" + (parentDOMRect.width + childDOMRect.width - 8) + "px; " // +3 = compensate margin
		}
    if (childDOMRect.height >= window.innerHeight) {
      childEntriesStyle += "margin-top: " + (window.innerHeight - childDOMRect.bottom - 8) + "px; "
    } else if (childDOMRect.bottom > window.innerHeight) {
      // TODO: check bug if maxHeight and still outside window      
      childEntriesStyle += "margin-top: " + (parentDOMRect.bottom - childDOMRect.bottom - 8) + "px; "
    }
	}

	const sirMenuParentMouseLeave = () => {
    hide = true
    hover = false
  }
</script>

<style>
	.sirMenuParent { position: relative; }
	.sirMenuParent, .entry { padding: 7px; }
	.sirMenuParent, .entry, .entries {
		background: var(--red-ui-primary-background);
		min-width: max-content;
	}
  .entries {	
    position: absolute;
    display: inline-block;
    margin-left: 7px;
    margin-top: -8px;
    /* padding: 10px; */
		width: fit-content;
    border: 1px solid #ccc;
		border-radius: 3px;
    /* overflow-y: auto; */

	}
	.hover { 
    background: var(--red-ui-secondary-background-hover);
    cursor: pointer;
   }
	.title {
		position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
	}
  .title i { margin-left: 7px; }
</style>

{#if expandable}
  <div id={"sirMenuParent_" + id} class="{clazz} sirMenuParent" {style} class:hover on:mouseenter={sirMenuParentMouseEnter} on:mouseleave={sirMenuParentMouseLeave}  on:click|stopPropagation on:keypress|stopPropagation>
    <div class="title">
      {title} <i class="fa fa-chevron-right" />
    </div>
    {#if !hide}
      <div class="entries" style={childEntriesStyle} in:fade="{{ duration: 300, delay: 150 }}" out:fade="{{ duration: 300 }}"><slot/></div>
    {/if}
  </div>
{:else}
  <div class="entry" id={"sirMenuEntry_" + id} class:hover on:mouseenter={() => hover = true} on:mouseleave={() => hover = false} on:click|stopPropagation on:keypress|stopPropagation>
    <slot/>
  </div>
{/if}
