<script context="module">
  let popupsKeys = new Map()

  export const closePopup = (id) => {
    // fallback if id was not found... maybe it was altered because it was already taken. Then we close the first found.
    const popupElement = document.getElementById(id) || document.querySelectorAll('[id^=newComponent-]')[0]
    if (popupElement?.parentElement?.parentElement.id === 'red-ui-notifications') {
      popupElement.parentElement.close()
    }
    if (popupsKeys.has(id)) {
      for ( const key of popupsKeys.get(id)) {
        RED.keyboard.remove(key)
      }
    }
    popupsKeys.delete(id)
  }
</script>

<script> 
  import { getBooleanFrom, getId } from './utils/utils.js'
  export let showPopup=false, id, fixed=false, timeout=5000, modal=false, type = '', keyboard={}, focus=''

  showPopup = getBooleanFrom(showPopup)
  fixed = getBooleanFrom(fixed)
  modal = getBooleanFrom(modal)
  let popup
  let multipleOpenings = true
  let init = false
  let addCloseButton = false

  id = id || getId()
  // if popup is in a component which will be created multiple times, we make the id unique if bound...
  if (document.getElementById(id)) {
    id = id + "_" + getId()
  }
  $: {
    if (showPopup) {
      let popupContent = document.getElementById(id)
      // if we have some sort of input, we can only open the popup once per time (else one popup looses functions + multiple ID inputs etc.)
      if (!init && popupContent && (fixed || popupContent.getElementsByTagName('button').length ||  popupContent.getElementsByTagName('input').length ||  popupContent.getElementsByTagName('select').length)) {
        multipleOpenings = false
      }
      if (!init || !popupContent || (popupContent && multipleOpenings)) {
        if (fixed && popupContent && popupContent.getElementsByTagName('button').length === 0) {
          addCloseButton = true
        }
        // we must save the slot (DOM) as it will be deleted by closing the popup through Node-Red, if not fixed.
        // cloning does not work
        // current workaround: we put the whole DOM into popup variable to call it again
        if (!popup) {
          popupContent.style.display = 'initial'
          if (fixed) {
            popup = popupContent
          } else {
            popup = popupContent.innerHTML
            popupContent.remove() // else it can also be shown outside the popup
          }
        }
        popupsKeys.set(id, Object.keys(keyboard))
        const buttons = []
        if (addCloseButton) {
          buttons.push({
            class: 'primary',
            text: 'Okay',
            click: () => nodeRedPopup.close()
          })
        }
        let nodeRedPopup = RED.notify( popup || 'No text stated!', { modal, fixed, type, timeout, buttons } )
      }
      init = true
      for (const [key, func] of Object.entries(keyboard)) {
        RED.keyboard.add("*",key, func)
      }

      if (focus) {
        if (!focus.startsWith('node-input-')) {
          focus = 'node-input-' + focus
        }
        if (document.getElementById(focus)) {
          document.getElementById(focus).select()
          setTimeout(() => document.getElementById(focus).focus(), 100)
        }
      }
    } else {
      for (const key of Object.keys(keyboard)) {
        RED.keyboard.remove(key)
      }
    }
    // the popup will stay on display, but we can call it immediately again
    showPopup = false
  }
</script>

<style>
  :global(#red-ui-notifications .ui-dialog-buttonset .disabled) {pointer-events: none; }
  .sir-Popup-buttons {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  :global(.sir-Popup-buttons div) {
    display: inline-flex;
  }
</style>
 
<div id={id} style="display:none;">
  <slot></slot>
  {#if $$slots.buttons}
    <div class="ui-dialog-buttonset sir-Popup-buttons">
      <slot name="buttons"></slot>
    </div>
  {/if}
</div>