<script>
  import Row from './Row.svelte'
  import { getId, getBooleanFrom, initInternal, getNewInternal } from './utils/utils.js'
  import { createEventDispatcher } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js'

  export let clazz='', disabled=false, error=false, fading=true, i18n, icon, id, inline=false, label, maximize=true, node, prop, style = "", value

  id = id || getId(prop)
  inline = getBooleanFrom(inline)
  disabled = getBooleanFrom(disabled)
  maximize = getBooleanFrom(maximize)
  error = getBooleanFrom(error)
  
  let defaults = node ? node._def.defaults : {}
  icon = icon || defaults?.[prop]?.icon || ''
  if (label !== false) {
    label = label || node && (defaults[prop] && defaults[prop].label || prop)
  }
  const dispatch = createEventDispatcher()
  
  let internal = initInternal(defaults[prop], value)
  $: {
    internal = getNewInternal(node?.[prop], value, internal, defaults?.[prop]?.validate, error, node)
    if (internal.updateNode) {
      node[prop] = internal.value
    } else {
      value = internal.value
    }
    if (!internal.init && internal.valueHasChanged) {
      dispatch('change', { id, value: internal.value }, { cancelable: false })
    }
    internal.init = false
  }

  $: { 
    if (label) {
      label = i18nTranslate(RED, node, i18n, label) 
    }
  }
</script>

<style>
  .disabled {pointer-events: none;}
  .maximize { width: 100%;}
  :global(.sir-Input-Container select, .sir-Select select) { padding-left: 3px; } /* Text starts like in an input field */
  :global(.sir-Select) {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }
</style>

<Row id="sir-Select-{id}-Container" clazz="{clazz} sir-Select" {inline} {style} {fading}>
  {#if label}
    <label for="node-input-{id}">{#if icon}<i class="fa fa-{icon}"></i>{/if} {label}</label>
  {/if}
    <select id="node-input-{id}" class:maximize class:input-error={internal.isError} {disabled} placeholder="{node && defaults[prop].label || ''}" 
      bind:value={internal.value} 
      on:mouseenter on:mouseleave
    >
      <slot></slot>
    </select>
</Row>
