<script>
  export let clazz = '', style = '', tab
</script>

<style>
.sir-Tab {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}
</style>

<div class="{clazz} sir-Tab tab-{tab}" style="display:none; {style}" on:click on:keypress>
  <slot></slot>
</div>
