<script>
  import Row from './Row.svelte'
  import { getBooleanFrom, getId, initInternal, getNewInternal, setTooltip } from './utils/utils.js'
  import { createEventDispatcher, onMount } from 'svelte'
  import { i18nTranslate } from './utils/i18n.js'

  export let clazz = '', cols, disabled=false, error=false, fading=true, i18n, icon, id, inline=false, label, maximize=true, maxlength, node, placeholder, prop, rows=5, style = '', tooltip, value

  inline = getBooleanFrom(inline)
  maximize = getBooleanFrom(maximize)
  disabled = getBooleanFrom(disabled)
  error = getBooleanFrom(error)
  id = id || getId(prop)
  let defaults = node ? node._def.defaults : {}
  icon = icon || defaults?.[prop]?.icon || ''
  if (label !== false) {
    label = label || defaults[prop] && defaults[prop].label || prop
  }
  placeholder = placeholder || defaults.placeholder || ''

  const dispatch = createEventDispatcher()
  let internal = initInternal(defaults[prop], value)

  // delay creation of tooltips as this needs jQuery and can be called often
  let init = true
  let tooltipExists = false
  onMount(() => {
    setTimeout(() => init = false, 1000)
  })

  $: {
    internal = getNewInternal(node?.[prop], value, internal, defaults?.[prop]?.validate, error, node)
    if (internal.updateNode) {
      node[prop] = internal.value
    } else {
      value = internal.value
    }
    if (!internal.init && internal.valueHasChanged) {
      dispatch('change', { id, value: internal.value }, { cancelable: false })
    }
    internal.init = false
  }
  $: { 
    if (label) label = i18nTranslate(RED, node, i18n, label) 
  }
  $: { 
    if (placeholder) placeholder = i18nTranslate(RED, node, i18n, placeholder) 
  }
  $: {
    if (!init && (tooltip || tooltipExists)) tooltipExists = setTooltip(tooltip, tooltipExists, '#sir-Input-Container-' + id + ' label')
  }
</script>

<style>
  .maximize { width: 100%; }
</style>

{#if !internal.updateNode || prop}
  <Row id="sir-Textarea-Container-{id}" {inline} {clazz} {style} {fading}>
    {#if label}
      <label id="sir-Textarea-Label-{id}" on:mouseenter on:mouseleave for="node-input-{id}">{#if icon}<i class="fa fa-{icon}"></i>{/if} {label}</label>
    {/if}
    <textarea type="text" id="node-input-{id}" {placeholder} {maxlength} {rows} {cols} {disabled} 
      on:mouseenter on:mouseleave
      bind:value={internal.value} class:sir-Textarea={!cols} class:maximize={!cols && maximize} class:input-error={internal.isError} 
    />
  </Row>
{:else}
  <span class="maximize">Error: No property name given.</span>
{/if}
