<script>
  // Terminology (from wikipedia)
  // A node is a structure which may contain a value or condition, or represent a separate data structure (which could be a tree of its own). 
  // Each node in a tree has zero or more child nodes, which are below it in the tree.

  import { getId, getBooleanFrom } from './utils/utils.js'
  import Row from './Row.svelte'
  import Collapsible from './Collapsible.svelte'
  import { onMount } from 'svelte'
  export let clazz = "", collapsible = true, collapsed = true, draggable = false, hoverable = true, hovered, id, icon, label = "", indented = 12, openOnlyOnIcon = false, recreateTreeDepth = false, selectable = true, selected, style = ""

  collapsible = getBooleanFrom(collapsible)
  collapsed = getBooleanFrom(collapsed)
  hoverable = getBooleanFrom(hoverable)
  selectable = getBooleanFrom(selectable)
  indented = Number(indented)
  if (isNaN(indented)) {
    console.error("TreeNode " + id + " indented is not a number!")
    indented = 12
  }
  id = id || getId()

  let init = true
  let shadowHoverId
  let shadowSelectId
  const getClosestElement = (e, idOrClass) => e.target.closest(idOrClass)

  // iterate ast to set depth for each child -> neccessary to show full row if hovered/selected
  const setDepthStylingCollapsible = (el, depth) => {
    depth++
    const calcIndented = (depth * indented) + 6 + "px"
    if (el.classList.contains("sir-TreeNode")) {
      // is collapsible or row?
      if (el.firstChild.classList.contains("sir-Collapsible")) {
        el.getElementsByClassName("header")[0].style.paddingLeft = depth ? calcIndented : ""
        el.getElementsByClassName("header")[0].style.width = depth ? "calc(100% - " + calcIndented + ")" : ""

        const children = el.getElementsByClassName("slotDiv")[0].children
        for (let subEl of children) {
          setDepthStylingCollapsible(subEl, depth)
        }
      } else {
        el.firstChild.style.paddingLeft = calcIndented
        el.firstChild.style.width = depth ? "calc(100% - " + calcIndented + ")" : ""
      }
    } else {
      el.style.paddingLeft = calcIndented
      el.style.width = depth ? "calc(100% - " + calcIndented + ")" : ""
    }
    depth--
  }

  const createTreeDepth = () => {
    recreateTreeDepth = false
    // create depth padding to have always a full row on hover / select, only necessary on highest parent
    if (!document.getElementById("sir-TreeNode-" + id).parentNode.closest(".sir-TreeNode")) {
      let depth = 0
      if (collapsible) {
        const slotDiv = document.getElementById("sir-Collapsible-" + id + "-content").getElementsByClassName("slotDiv")[0]
        const children = slotDiv.children
        for (let el of children) {
          setDepthStylingCollapsible(el, depth)
        }
      }    
    }
  }
  $: if (!init) createTreeDepth(recreateTreeDepth)

  const hoverElement = (elId) => {
    if (hoverable) {
      if (shadowHoverId) shadowHoverId.classList.remove("hover")
      shadowHoverId = elId
      if (typeof shadowHoverId === "string") shadowHoverId = document.getElementById(shadowHoverId)
      if (shadowHoverId) shadowHoverId.classList.add("hover")
    }
  }
  $: hoverElement(hovered)
  
  const selectElement = (elId) => {
    if (selectable) {
      if (shadowSelectId) shadowSelectId.classList.remove("selected", "focus")
      shadowSelectId = elId
       if (typeof shadowSelectId === "string") shadowSelectId = document.getElementById(shadowSelectId)
      if (shadowSelectId) shadowSelectId.classList.add("selected", "focus")
    }
  }
  $: selectElement(selected)

  onMount( () => {  
    createTreeDepth()
    init = false
  })
</script>

<style>
  :global(.sir-TreeNode .hover) { background-color: var(--red-ui-list-item-background-hover); }
  :global(.sir-TreeNode .selected) { background: var(--red-ui-list-item-background-selected); }
  :global(.sir-TreeNode .focus) {
    outline: 1px solid var(--red-ui-form-input-border-color-focus) !important;
    outline-offset: -1px;
  }
  :global([id^='sir-TreeNode-'].sir-TreeNode > .sir-Collapsible > .header > .labelContainer , [id^='sir-TreeNode-'].sir-TreeNode > :not(.sir-Collapsible)) { 
    padding: 2px 0 2px 6px;
    /* padding-left: 6px; */
    width: calc(100% - 6px);
  }
  
  :global(
    [id^='sir-TreeNode-'].sir-TreeNode > .sir-Collapsible, 
    [id^='sir-TreeNode-'].sir-TreeNode  > .sir-Collapsible .header,
    [id^='sir-TreeNode-'].sir-TreeNode .sir-Collapsible .sir-Row, 
    [id^='sir-TreeNode-'].sir-TreeNode > .sir-Row) { 
      margin-bottom: 0px !important;
  }
  :global([id^='sir-TreeNode-'].sir-TreeNode .sir-Collapsible .slotDiv) { padding-top: 0px;}

  .sirTreeNode { 
    width: 100%;
    cursor: pointer;
     /* disable click text selection */
    user-select: none; /* Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
</style>


<div id="sir-TreeNode-{id}" class="{clazz} sir-TreeNode" {style} {draggable} on:mouseleave={() => hovered = ""} on:mouseleave
  on:dragstart|stopPropagation on:dragend on:dragover|preventDefault|stopPropagation on:dragenter|preventDefault|stopPropagation on:drop|preventDefault|stopPropagation
>
  {#if !collapsible}
    <Row on:mouseenter={(e) => hovered = getClosestElement(e, ".sir-Row")} on:click={(e) => selected = getClosestElement(e, ".sir-Row")} on:click on:dblclick >
      {#if label}
        <label for="sir-TreeNode-{id}">{label}</label>
      {/if}
      <slot />
    </Row>
  {:else}
    <Collapsible {label} {icon} {id} {collapsed} {openOnlyOnIcon} maximize indented={false} 
      on:mouseenter={(e) =>  hovered = getClosestElement(e, ".header")} on:click on:click={(e) => selected = getClosestElement(e, ".header")} on:dblclick
    >
      <slot name="header" slot="header" />
      <slot />
    </Collapsible>
  {/if}
</div>	
