<!--
	A script with context="module" is where you define your node. You may set it's category, color, defaults, etc.
	For an exaustive list of properties, take a look at "Defining a node" under https://nodered.org/docs/creating-nodes/node-html.

	Svelte-Integration-RED (SIR) introduces some extensions to the defaults object:

	- label: You may directly set a label in the defaults for a property.
      This is used when you bind a component using the component's node and prop properties (see below).ConfigNodeInput

	- types: You may define the types used for a typed input directly in the property's defaults object.
-->
<script context="module">
    RED.nodes.registerType("test-node", {
		category: "common",
		defaults: {
			name: { value: "", label: "label.name", placeholder: "placeholder.name", icon:"truck"},
			cool: { value: true },
			disableInput: { value: false, label: "label.disableAll"},
      uppercaseInput: {value: 'ONLY UPPERCASE LETTERS ALLOWED', label: 'label.uppercase', validate: RED.validators.regex(/^[A-Z ]+$/) },
      lowercaseInput: {value: 'only lowercase letters allowed', label: 'label.lowercase', validate: RED.validators.regex(/^[a-z ]+$/) },
      textarea: {value: 'This is a multiline input field', label: 'label.textarea'},
			selection: { value: "two", label: "label.selection1" },
      broker: { type: 'mqtt-broker', label: 'label.broker' },
      content: { value: '', label: 'Content', placeholder: "placeholder.typedInput", validate: RED.validators.typedInput("contentType") },
			contentType: { value: 'str', types: ["str", "bool", "num"] },
      content2: { value: 'banana', label: 'Content2',  validate: RED.validators.typedInput("contentType2") },
			contentType2: { value: 'fruit' },
      content3: { value: '', label: 'Content3',  validate: RED.validators.typedInput("contentType3") },
      contentType3: { value: 'msg' },
			values: { value: ["Hello", "world", "here", "I", "am."], label: 'Values' },
      toggleCheck: { value: [] },
      toggleSingle: { value: 'left'},
      toggleMulti: { value: ['you', 'more', 'one']},
      toggleRadio: { value: ''},
      myTable: { 
        value: {
          header: ['col1', 'col2', 'col3', 'col4'],
          rows: [
            ['hello', 'world', 'this is', 'my first row'], 
            ['hello', 'world', 'this is', 'my second row'], 
            ['hello', 'world', 'this is', 'my third row'], 
            ['hello', 'world', 'this is', 'my fourth row']
          ]
        }
      },
      insidePopup: {value: '', label: 'Try it'},
      nodeVersion: {value: ''}
		},
    i18nOptions: {
      // If there should be translation, each DOM needs the object 'node' (mostly it's already bound) or a 'i18n' property with the path to the folder e.g.: node.name + ':'.
      // if the node is not in the main folder, set here the folder name (which is in this case the same name as the node)
      folder: 'test-node/'
    },
		inputs: 1,
		outputs: 1,
		color: "#CEC0DE",
		label: function() {
			if (this.name) {
				return this.name;
			} else {
				return "Double-click me";
			}
		},
		icon: "font-awesome/fa-tag",
		/*
		 * In order to function correctly, you need start the rendering of the node editor as well as handle the save and cancel events.
		 * SIR therefor offers a render, update and revert function.
		 * 
		 * Usually you can just copy&paste the following stubs. There should be no scenario where you should alter these.
		 * 
		 * The render function creates the editor. Without calling it, nothing would be visible. By handing over this as an argument
		 * svelte can acces the node's properties. Changes are tracked and not directly written back to the node. That's why you
		 * have to run update on saving the node - this will change the node's properties and tell node-red that the node is dirty. In
		 * case cancel is pressed the tracked changes need to be discarded. That's why you'll have to call revert on cancel. Otherwhise
		 * the tracked changes would still "live" inside of the node and the editor may behave in an unexpected way if opened a second time.
		 * 
		 * Please mind that only properties mentioned in the node's defaults will be updated. In all other cases you need to take care of
		 * the update yourself!
		 * 
		 * Attention: These must NOT be lambda / arrow function expressions in order to work!
		 */
		oneditprepare: function () {
			render(this, { minWidth: '600px' })
		},
		oneditsave: function () {
			update(this)
		},
		oneditcancel: function () {
			revert(this)
		},
    onadd: function () {
      addCurrentNodeVersion(this)
    }
	});
</script>

<!--
	The editor's behaviour is defined within a script-block. See the comments for further details.
-->
<script>
	/*
	 * You need to export a node property in order to have a working editor. Otherwhise the node's properties will neither
	 * be visible nor will they change on save.
	 */
	export let node

	/* 
	 * You may import any of these components - choose what you need.
	 * Attention: In a real project you will need to import from 'svelte-integration-red/components'.
	 * You may also write your own svelte components and import theme here.
	 */
	import { Button, ButtonGroup, Row, Input, TypedInput, EditableList, Group, Collapsible, Select, TabbedPane, TabContent, Callout, Textarea, ToggleGroup, Panel, Popover, Popup, Table, TreeNode } from '../components'
  import { closePopup } from '../components/Popup.svelte'
  import NestedComponent from './NestedComponent.svelte'
	/*
	 * onMount is needed for everything that should be run once the editor is ready but not before (see below).
	 * In most cases you do not need this. It is used here to simulate async beahviour.
	 */
	import { onMount } from 'svelte'
	let furtherTypes = []
  let showText = false
  let searchInput = ''
  let timesClicked = 0
	const defaultTypes = node._def.defaults.contentType.types
	onMount(() => {
		window.setTimeout(() => {
			furtherTypes = [...furtherTypes, {
				value: "delayed",
				label: "Delayed",
				options: ["This", "will", "show", "up", "after", "2", "seconds."],
        icon: "fa-bomb"
			}]
		}, 2000)
	})

  let testTypes = [
    { value: "fruit",
      options: [
      { value: "apple", label: "Apple" },
      { value: "banana", label: "Banana", icon: "fa-truck"},
      { value: "cherry", label: "Cherry", icon: "red/images/typedInput/bool.svg" },
      { value: "test", label: "test"}
    ]}
  ]

	/* 
	 * Reactivity declarations / statements are a great way to create a dynamic editor. You'll find more on this here:
	 * https://svelte.dev/tutorial/reactive-declarations
	 * https://svelte.dev/tutorial/reactive-statements
	 */
	$: contentTypes = [... defaultTypes, ... furtherTypes, ...testTypes]

	/*
	 * This is a simple example of how to bind behaviour to a change event.
	 * In this case a new type gets added for the content property.
	 */
	let counter = 0
	function addType () {
		console.log("add type")
		furtherTypes = [ ...furtherTypes, {
			value: "type" + counter,
			label: "Type " + counter,
			options: ["Nothing"]
		}]
		counter += 1
	}

	/*
	 * This function is used below to add a new item to the list.
	 * In real life you may want to add a new object with senseful defaults which then get rendered accordingly.
	 */
	function addValue () {
		node.values = [...node.values, ""]
	}
	$: node.values

	/*
	 * The tabs will change dynamically
	 */
	 let tabs = { "props": "tabs.props", "buttons": { name: "Buttons", icon: "truck" }, "list": "tabs.list", "groups": "tabs.groups", "callouts": "Callouts", "popups": "Popups", "table": "tabs.table", "nested": "tabs.nested", "panel": "Panel" }
	 onMount(() => {
		window.setTimeout(() => {
			tabs.hello = "Hello world!"
		}, 3000)
		window.setTimeout(() => {
			delete tabs.hello
			tabs = { ...tabs }
		}, 10000)
	 })

	 let toggleText = ""
	 function toggleTheText () {
		 if (toggleText.endsWith(" (Hovered)")) {
      toggleText = toggleText.substring(0, toggleText.length - 10)
		 } else {
      toggleText = toggleText + " (Hovered)"
		 }
	 }

  /*
  * You can set custom callback functions after editing a table.
  * Just set a function in one of the properties: afterEditTable, afterEditColumns, afterEditRow, afterAddRow, afterAddColumn, afterDelete
  */
  const afterEditMyTable = (detail) => {
    alert(`Your edited Table has ${detail.header.length} columns and ${detail.rows.length} rows!`)
  }

  /*
  * Create valid input options for toggle group components.
  */
  const groupedInputOptions = [
    { icon: 'align-left', label: 'label.left', value: 'left' },
    { icon: 'align-center', label: 'label.center', value: 'center' },
    { icon: 'align-right', label: 'label.right', value: 'right' },
    { icon: 'align-justify', label: 'label.justify', value: 'justify' }
  ]
  const groupedInputOptionsMulti = [ 'you', 'can', 'select', 'more', 'than', 'one']
  let checkedRow = []
  /*
  * Popups are using Node-Red popups, but are much more flexible.
  * We need here only a showing boolean variable and optional functions and key bindings.
  * The rest will be made in svelte below.
  */
  let showEasyPopup = false
  let showRiddlePopup = false
  const cancelPopup = () => {
    alert('You have clicked cancel!')
    closePopup("riddlePopup")
  }

  let keysPopup = {
    enter: () => {
      if (node.insidePopup === 'friend') {
        closePopup("riddlePopup")
      } else {
        alert('think again Gandalf!')
      } 
    },
    escape: () => {
      alert('You pressed escape. The popup will close now')
      closePopup("riddlePopup")
    },
    a: () => {
      alert('There is no a in friend!')
    }
  }

  /*
  * Show or hide callouts dynamically
  */
  let showWarningCallout = true

  /*
  * Prepartion for a repitive tree structure.
  * We have a simple setting with just different labels and icons.
  * To hover and select the tree child elements we use the getRow function to identify the parent element. The id of the parent must be put into the select/hover variable.
  */
  const myTree = [
    { label: "tree 1", icon: "search"},
    { label: "tree 2", icon: "truck"},
    { label: "tree 3", icon: "bullhorn"},
    { label: "tree 4", icon: "camera"}
  ]

  let treeSelect
  let treeHover
  const getRow = (e) => e.target?.closest(".sir-Row")?.id

  let showPopover = false
  $: dynamicTooltip = 'This is a dynamic tooltip: ' + node.name
</script>

<!--
	Of course you can also add styling.
-->
<style>
	h1 {
		color: #8C101C;
	}
</style>

<!--
	Use the full power of Svelte: Add basic HTML as well as node-red's predefined components (may be a bit tricky to integrate) or
	SIR's predefined component's (way easier to use). And even custom components are possible.
-->
<h1>SIR's Kitchen Sink :)</h1>

<!--
	Tabbed panes are defined using an object that maps ids to a corresponding label. The content of the tab then gets associated with
	a tab by setting the tab-property to the corresponding id. This allows to have multiple tabe contents being rendered on the same tab.
-->
<TabbedPane {node} bind:tabs>

	<TabContent tab="props">

		<!--
			The easiest way to have an input for a property is to bind the node and define the prop property.
			SIR will then determine the type of the property from it's default value. You may also define the type yourself
			using the type property (all html input types like e.g. "password" or "config" to reference a config-node).
		-->
		<Input bind:node prop="name" bind:value={toggleText} on:mouseenter={toggleTheText} on:mouseleave={toggleTheText} disabled={node.disableInput} bind:tooltip={dynamicTooltip}/>
		<!--
			If no node is bound, Boolean values should be bound to the checked property of an input.
      The change event allows to react on changes of a value.
		-->
		<Input type="checkbox" bind:node prop='cool' label={node.cool ? 'label.coolActived' : 'label.coolDeactivated' } on:change={addType} indented disabled={node.disableInput} />
		<!-- 
			You can change dynamically properties on other nodes. This example will deactivate all input fields.
		 -->
		<Input type="checkbox" bind:node prop="disableInput" indented/>
		<!--
			This is an example of how to add an input to reference a config node.
		-->
		<Input type='config' {node} prop="broker" disabled={node.disableInput}/>
    <!-- 
      To validate an input field state the function in the default properties (Node-RED standard)
      To have multiple elements in one row, set an "Row" component and state the label there instead of the original component.
      i18n='test-node/test-node'
     -->
     {#if node.selection === "one"}
      <Row>
        <Input inline type='text' maximize {node} prop="uppercaseInput" disabled={node.disableInput}/>   
        <Button inline icon="trash" on:click={() => alert('You clicked on the trash can button')}/>
        <Button inline icon="plus" on:click={() => alert('You clicked on the plus button')}/>
        <Button inline icon="close" on:click={() => alert('You clicked on the close button')}/>
      </Row>
    {:else}
      <Input type='text' {node} prop="lowercaseInput" disabled={node.disableInput}/>   
      <Input type='text' maximize {node} prop="uppercaseInput" disabled={node.disableInput}/>   
    {/if}
    <!-- 
      Textareas are a multiline input field. The default size can be stated by the properties 'cols' and 'rows'. With 'maxlength' you can limit the input.
     -->
    <Textarea bind:node prop='textarea' placeholder='Please enter something' disabled={node.disableInput}/>
		<!--
			Selects let the user choose from a dropdown list. The options can be created by svelte #each.
		-->
    <Row>
      <Select bind:node inline prop="selection" disabled={node.disableInput}>
        <!-- 
          If you want to translate the options, use the standard Node-RED translation function
         -->
        <option value="one"><span data-i18n="test-node/test-node:selection.one"></span></option>
        <option value="two"><span data-i18n="test-node/test-node:selection.two"></span></option>
        <option value="three"><span data-i18n="test-node/test-node:selection.three"></span></option>
      </Select>
      <Button inline icon="plus" on:click={() => alert("You selected: " + node.selection)} disabled={node.disableInput}/>
    </Row>
		
		<!--
			In this example we do not bind to a node's property but to a simple value.
			This is important in case you need a component for a property that is not a direct child of the node or	in case
			you have a computed property. In that case you must not define the node and prop properties but the value property.
			And	in order to persist changes you should handle the change event and update your property manually.
		-->
		<Select label="label.selection2" i18n='test-node/test-node:' value="one" disabled={node.disableInput}>
			<option value="one">No binding</option>
			<option value="two">No action</option>
		</Select>

		<!--
			TypedInputs (https://nodered.org/docs/api/ui/typedInput/) have a typeProp property that holds the type information.
			The available types may be handed over manually using the types property (like here) or they are read from the properties's
			defaults (see comment about the types property within the defaults above).
		-->
		<TypedInput bind:node prop="content" typeProp="contentType" bind:types={contentTypes} disabled={node.disableInput} on:change={(e) => console.log('change', e)} bind:tooltip={node.content}/>
    <TypedInput {node} prop="content2" typeProp="contentType2" bind:types={testTypes} disabled={node.disableInput}  bind:tooltip={node.content2}/>
    <TypedInput {node} prop="content3" typeProp="contentType3" types={['msg', 'flow', 'global', 'str', 'num', 'json', 're', 'date', 'jsonata', 'bin', 'env']} disabled={node.disableInput}  bind:tooltip={node.content3}/>

  <!-- 
      Rows can have the events click, dblclick, mouseleave and mouseenter. 
  -->
  <Row on:mouseenter={() => console.log('enter row')} on:mouseleave={() => console.log('leaving row')} on:dblclick={() => showText = !showText}>
    <Input on:mouseenter={() => console.log('enter input')} on:mouseleave={() => console.log('leaving input')} label="Special row" inline placeholder="doubleclick me"/>
    {#if showText}
      <p>This text will be shown / hide on a double click...</p>
    {/if}
  </Row>

  <Input bind:node bind:value={searchInput} type="search" disabled={node.disableInput}/>

	</TabContent>

	<TabContent tab="buttons">
		<!--
			A Row is just that: a row. It sets a div container with the class sir-Row.
			SIR's input components (Input, Select, etc.) are always rendered within a Row. This can be prevented if an inline property is stated.
      An exception are Buttons, which have most of the time more than one in one line or are often behind some input component.
		-->

		<Row>
			<!--
				Buttons may be normal or small size and may have an icon and / or label. They emit a click event.
			-->
			<Button {node} clazz="test" inline icon='plus' label='label.add' on:click={() => {
        timesClicked++
        alert('You clicked add. (check tooltip)')
      }} disabled={node.disableInput} tooltip={"Times clicked: " + timesClicked}/>
			<Button small inline icon='edit' on:click={() => alert('You clicked edit.')} disabled={node.disableInput} tooltip="Static tooltip"/>
			<Button small inline icon='trash' on:click={() => alert('You clicked delete.')} disabled={node.disableInput} />
		</Row>
    
    <!-- Indentade a button in his own row if you want to place the button directly under the input component -->
    <Input label="example input" placeholder="The button below is directly under the input field" />
    <Button indented icon="globe" label="I am indented" />
    <ButtonGroup label="A button group">
      <Button inline icon="truck" label="We are also indented" />
      <Button inline icon="globe" label="I am number 2" />
      <Button inline icon="trash" label="I am the third button" />
    </ButtonGroup>
	</TabContent>

	<TabContent tab="list">
		<!--
			Lists may be sortable and it's items may be removable. If you want an add button, set the addButton flag. In case you want a different label
			for the	add button you can set the addButton property to a string.

			The bound elements are automatically iterated using their index as id. This may lead to unexpected behaviour when removing elements	from the
			list. To prevent this, your elements may define an id property that is used as an alternative to the index.

			To render an element, assign the element to a variable (here: value). You can then render them in any way you like within the EditableList's
			HTML content. Keep in mind that you may not bind to the node from within here as your elements are not direct children of your node.
			Use the value property and the change event instead.

			You may extend the style of a list using the style property. This allows for example to set a default height.
		-->
    
		<EditableList {node} sortable removable label="label.values" icon="list" bind:elements={node.values} let:element={value} let:index addButton height=270 disabled={node.disableInput} tooltip={"This is a editable list.\n\nAdd, remove or sort an array easily."}
      on:add={addValue}
      on:remove={(e) => console.log('removed', e.detail)}
      on:sort={(e) => console.log(e.detail)}>
      <svelte:fragment slot="header">
        <Row>
          <Button icon="edit" inline small on:click={() => alert("Button 1")}/>
          <Button icon="trash" inline small on:click={() => alert("Button 2")}/>
        </Row>
      </svelte:fragment>
      <svelte:fragment slot="tableHeader">
        <Row style="justify-content: space-between;">
          <div>DnD</div>
          <div>Input</div>
          <div>Delete</div>
        </Row>
      </svelte:fragment>
			<!--
				BTW: The input component defines a maximize property that tells it to use all offered space - great within lists, groups or collapsibles.
			-->
			<Input inline maximize {value} on:change={(e) => node.values[index] = e.detail.value} placeholder="Value name" disabled={node.disableInput}></Input>
		</EditableList>

	</TabContent>

	<TabContent tab="groups">
		<!--
			Groups allow to render a border around other components. They may define an icon and label.
		-->
		<Group {node} label="label.grouped" icon="minus" tooltip="This is a group. It has 2 input fields grouped.\n\nThose fields like it very much to be grouped as they feel really close to each other.">
			<Input maximize label="First" value="First input" disabled={node.disableInput}/>
			<Input maximize label = "Second" value="Second input" disabled={node.disableInput}/>
		</Group>

		<Group {node} label="label.collapsible" icon="plus">
      <svelte:fragment slot="header">
        <Button icon="flag" inline small on:click={() => alert("Button 1")}/>
      </svelte:fragment>
			<!--
				The Collapsible component is great if you want to hide content that is seldomly needed or in case you want to define
				a kind of tree editor. For the latter case you should set the indented flag.
			-->
			<Collapsible {node} collapsed label="label.clickMe" on:click={() => console.log('Collapsible header clicked')} tooltip={"this is a tooltip for collapsible"}>
        <svelte:fragment slot="header">
          <Row style="margin-bottom: 0px;">
            <Button icon="edit" inline small on:click={() => alert("Button 1")}/>
            <Button icon="trash" inline small on:click={() => alert("Button 2")}/>
            <Button icon="close" inline small on:click={() => alert("Button 3")}/>
          </Row>
        </svelte:fragment>
				<Input maximize value="Some content." disabled={node.disableInput}/>
				<Collapsible {node} indented icon="truck" label="label.moreContent">
					<Input maximize value="More content. :)" disabled={node.disableInput}/>
					<Input maximize value="And even more! :o" disabled={node.disableInput}/>
				</Collapsible>
			</Collapsible>
		</Group>

    <!-- 
      With ToggleGroup you can select one or multiple (multiselect) options.
      You can choose between buttons (standard), checkbox or radio input fields. With radio input can only choose one option!
      Bind the value in which the selection is saved and set in options an array with the valid selections.
      The options can either be a string or an object with the keys value, label, icon.
      If you want the options under each other, set inline = false.
      If you want no gap between buttons, set gap = false
      Important: If multiple options are possible the result will always be stated in an array.
    -->
    <ToggleGroup label="Select from checkbox" inline={false} icon="check-square" type="checkbox" bind:node prop="toggleCheck" options={['hello', {icon: 'globe', value: 'world'}, '!']} multiselect disabled={node.disableInput}/>
    <Row>Selected: {node.toggleCheck}</Row>

    <ToggleGroup label="Select one" icon="check" bind:node prop="toggleSingle" options={groupedInputOptions} disabled={node.disableInput}>
      <svelte:fragment slot="header">
        <Button inline small icon="fort-awesome" on:click={() => alert("I am awesome")}/>
      </svelte:fragment>
    </ToggleGroup>
    <Row>Selected: {node.toggleSingle}</Row>

    <ToggleGroup label="Select multiple" icon="list-ol" gap={false} bind:node prop="toggleMulti" options={groupedInputOptionsMulti} multiselect disabled={node.disableInput}/>
    <Row>Selected: {node.toggleMulti}</Row>

    <ToggleGroup label="Select from radio" icon="circle" type="radio" bind:node prop="toggleRadio" options={['Choose', 'one', 'option']} disabled={node.disableInput}/>
    <Row>Selected: {node.toggleRadio}</Row>

    <Input label="dummy input" />
    <ToggleGroup label="checkbox" type="checkbox" bind:value={checkedRow} options={['we', 'are', 'intended']} multiselect inline={false} indented={true} disabled={node.disableInput} />
	</TabContent>

	<TabContent tab="callouts">
    <Callout {node} type="info">
      <svelte:fragment slot="header">I am a callout infobox</svelte:fragment>
      <p>You can use <b>html</b> <u>styling</u> and fill me with useful tips!'</p>
      <p>This is a second paragraph, like google page 2 nobody will read me.</p>
    </Callout>
    <Callout {node} type="success">
      <span slot="header" data-i18n="test-node/test-node:callout.successHeader"></span>
      <span data-i18n="test-node/test-node:callout.success"></span>
    </Callout>
    <Callout {node} type="warning" closeable bind:show={showWarningCallout}>
      <svelte:fragment slot="header">This is a warning!</svelte:fragment>
      You have been warned! -> But I can be closed!
    </Callout>
    <Button label="show / hide callout" on:click={() => showWarningCallout = !showWarningCallout}/>
    <Callout {node} type="error">
      <svelte:fragment slot="header">An error field</svelte:fragment>
      Use me if a user did not read the warning.
    </Callout>

    <Callout {node} type="info" icon="truck" small>
      I am a small info callout box.
    </Callout>

    <Callout {node} type="info" icon="truck" small closeable>
      I am a small info callout box.
    </Callout>

  </TabContent>

  <TabContent tab="popups">
    <!--
      Create Popups with the Popup component in which you enter the needed elements. 
      You can set, like normal Node-RED popups the properties: modal, fixed, timeout and type ('', warning', error').
      Note: Complex popups with input/button/select components can only be opened once per time, even if not modal!
    -->
    <Row>
      <Button inline label='Show popup' on:click={ () => showEasyPopup = true } />
      <Button inline label='Show riddle popup' on:click={ () => showRiddlePopup = true } />
      <Popover inline label="Open popover" on:click={ () => showPopover = true } bind:showPopover>
        <div style="padding: 10px;">
          <div>This Popover can be an infobox</div>
          <div>But also an menu...</div>
          <div>Just be creative :)</div>
        </div>
      </Popover>
    </Row>
    
    <Popup modal={false} fixed={false} timeout=3000 type="warning" bind:showPopup={showEasyPopup}>
        <span data-i18n="test-node/test-node:popup.warning"></span>
    </Popup>

    <Popup id="riddlePopup" modal fixed bind:showPopup={showRiddlePopup} focus="insidePopup" keyboard={keysPopup}>
      <h2>Speak "friend" and enter!</h2>
      <Input bind:node type='text' prop='insidePopup' />
      <svelte:fragment slot="buttons">
        <Button inline label='Okay' primary disabled={node.insidePopup !== 'friend'} on:click={() => closePopup("riddlePopup")} />
        <Button inline label='Cancel' on:click={cancelPopup} />
        <Button inline label='Give me a hint' on:click={ () => alert("It's literal 'friend' Gandalf! And don't speak it out, but type it in the field...") } />
      </svelte:fragment>
    </Popup>

  </TabContent>

  <TabContent tab="table">
    <!-- 
      Place a table by binding it to a proper object variable with header and rows arrays or bind here header and / or rows.
      If wanted you can make the table fully editable.
    -->
    <Table bind:node prop='myTable' editable={true} 
      on:afterAddRow={(e) => console.log('added row', e.detail)}
      on:afterEditRow={(e) => console.log('Row edited', e.detail)}
      on:afterCancelEditTable={(e) => console.log('after cancel', e.detail, node.myTable)}
      on:afterEditTable={(e) => afterEditMyTable(e.detail)}
      on:beforeEditTable={(e) => {
        console.log('before', node.myTable)
        node.myTable.header[0] = "wobaboba"
        e.detail.header[1] = "huiiiii"
      }}  
    ></Table>

  </TabContent>

   <TabContent tab="nested">
    <!-- This is a custom created component.   -->
    <NestedComponent label="Parent 1" list1={[{"name": "hello 1"}, {"name": "world 1"}]} list2={[{"name": "test 1"}, {"name": "complete"}]} />
    <NestedComponent label="Parent 2" list1={[{"name": "hello 2"}, {"name": "world 2"}]} list2={[{"name": "test 2"}, {"name": "complete"}]} />
    
    <!-- 
      A tree node is a hoverable and selectable component which is often used to show a hierarchical or repitite structure.
      A tree node can be the root element, a branch or the leaf.
      Bind selected and hovered to a variable. The hovering and selection of the row works for the tree headers automatically.
      As the structure of the tree childs is unknown you must set the id of the child row to the selected / hovered variable.
      Most of the times this can be done by get the closest ".sir-Row".
    -->
    <TreeNode label="Tree header" collapsible={false} bind:selected={treeSelect} bind:hovered={treeHover} on:dblclick={() => alert('i was double clicked')}/>
    {#each myTree as { label, icon }, i}
      <TreeNode label={label + " root"}  bind:selected={treeSelect} bind:hovered={treeHover}>
        <Row style="padding: 2px 0" maximize on:mouseenter={(e) => treeHover = getRow(e)} on:click={(e) => treeSelect = getRow(e)} >
          <Button {icon} small inline style="margin-right: 6px;" on:click={(e) => treeSelect = getRow(e)}/>
          Welcome to {label}
        </Row>
        <TreeNode label="{label} leaf" collapsible={false} bind:selected={treeSelect} bind:hovered={treeHover}/>
        <TreeNode label="{label} subtree" bind:selected={treeSelect}  bind:hovered={treeHover}>
          <svelte:fragment slot="header">
            <Row style="padding: 2px;">
              <Button icon="edit" inline small on:click={() => alert("Button 1")}/>
              <Button icon="trash" inline small on:click={() => alert("Button 2")}/>
              <Button icon="close" inline small on:click={() => alert("Button 3")}/>
            </Row>
          </svelte:fragment>
          <Input maximize value="Some content." disabled={node.disableInput} on:mouseenter={(e) => treeHover = getRow(e)} on:click={(e) => treeSelect = getRow(e)} />
          <TreeNode label="{label} subtree 2" bind:selected={treeSelect} bind:hovered={treeHover}>
            <Input label="input 1" maximize on:mouseenter={(e) => treeHover = getRow(e)} on:click={(e) => treeSelect = getRow(e)}/>
            <Input label="input 2" maximize on:mouseenter={(e) => treeHover = getRow(e)} on:click={(e) => treeSelect = getRow(e)}/>
          </TreeNode>
        </TreeNode>
      </TreeNode>
    {/each}

  </TabContent>

  <TabContent tab="panel">

    <!-- 
      Panel is a Component with 2 boxes which are resizable. Just enter your content in either the top or bottom slot.
    -->

    <Panel label="Resizable Panel" height="300" border>
      <div slot="top" style="padding: 5px;">
        <Input label="Top input" placeholder="I am the top input"/>
        <Callout type="info">
          Hello world!
        </Callout>
      </div>
      <div slot="bottom" style="padding: 5px;">
        <Input label="Bottom input" placeholder="I am the bottom input"/>
        <Callout type="warning">
          Goodbye world!
        </Callout>
      </div>   
    </Panel>

  </TabContent>


	<TabContent tab="hello">

		<h2>SIR is greating you!</h2>
		<p>
			<b>This tab appears after 3 seconds and disappears after 10 seconds.</b>
		</p>

	</TabContent>

</TabbedPane>